*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("./5172658.jpg");
    background-repeat: no-repeat;
    background-size:100%; 
    padding: 10px;
}

.todo-logo{
    width: 100%;
    max-width: 540px;
    background:#03245b;
    margin: 100px auto 20px;
    padding:40px 45px 80px;
    border-radius: 10px 40px 30px 70px;
}
.todo-logo h2{
    color:black ;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-logo h2 img{
    width: 30px;
    margin-left:10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border-radius: 10px;
    padding: 16px 30px;
    background:rgb(231, 80, 105);
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    outline: none;
}

ul li{
    font-size: 17px;
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./radio.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

ul li.checked{
    color:palevioletred;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./check-symbol.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width:40px ;
    height: 40px;
    font-size: 22px;
    color:#ffff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#3215;
}

@media (min-width:926px){
    .container{
        margin-right: auto;
    }
}

@media(max-width:800px){
    .row{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        padding: 16px 8px 32px 8px;
    }
    .todo-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    .container{
        justify-content: center;
        background-size: cover;
    }
}

